body {
  background: url('http://www.nasa.gov/sites/default/files/styles/full_width/public/thumbnails/image/iss044-e-45553.jpg?itok=pq2rQqkh') no-repeat center center fixed;
  background-color: #000;
  background-size: cover;
  font: 14px 'Rubik', Helvetica, Arial, sans-serif;
  letter-spacing: .1em;
  margin: 0;
}

.main {
  background-color: #e6e6e6;
  box-shadow: inset 0 0 10px #000;
  margin: 20px auto;
  opacity: .92;
  padding: 5px 20px 20px;
  width: 600px;
}

#map {
  background-color: #fff;
  box-shadow: inset 0 0 10px #000;
  border: 4px solid #ccc;
  clear: both;
  height: 99%;
  margin: 0;
  min-height: 350px;
  min-width: 400px;
  width: 99%;
}

#submit {
  clear: both;
}

#address {
  height: 50px;
  margin: 10px 0 5px;
  width: 250px;
}

h1 {
  font-family: 'Audiowide', sans-serif;
  font-size: 3.2em;
  letter-spacing: .2em;
  margin: 5px 0;
  text-align: center;
}

h3 {
  margin: 20px 0 5px 0;
}

.title {
  font-weight: bold;
  margin: 10px 0 0;
  text-transform: uppercase;
}

.title h3 {
  margin: 0;
  text-align: center;
}

.title p {
  margin: 0;
  text-align: center;
  text-transform: none;
}

p {
  margin: 0;
}

a {
  color: #00B7FF;
}

ol {
  line-height: 1.5em;
  margin: 0 0 5px -10px;
}

li {
  list-style: number;
  width: 180px;
}

.distance {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 1px 1px 1px 2px #ccc;
  box-shadow: inset 0 0 10px #000;
  margin: 10px auto 15px;
  padding: 5px 0 15px;
  text-align: center;
}

.issCoords,
.earthCoords {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 1px 1px 1px 2px #ccc;
  box-shadow: inset 0 0 10px #000;
  height: 360px;
  margin-bottom: 15px;
  padding: 0 15px;
}
  
.issCoords,
.astronauts {
  float: left;
  width: 260px;
}

.earthCoords,
.earth {
  float: right;
  width: 260px;
}

.earth h3,
.earth p {
  color: red;
}

.km,
.miles,
.lat,
.long,
#earthlat,
#earthlong {
  background: repeating-linear-gradient(
    to left, #ccc, #ccc 28px, #999 2px, #999 30px);
  box-shadow: inset 0 0 10px #000;
  font-family: 'Share Tech Mono', monospace;
  font-size: 30px;
  height: 36px;
  letter-spacing: 12px;
  margin: 0;
  text-align: right;
}

.kmpart,
.mipart {
  display: inline-block;
  margin: 0 10px;
  text-align: left;
  width: 270px;
}
