body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#map {
  width: 500px;
  height: 400px;
  background-color: #ccc;
}

ol {
  list-style: number;
}


/*
.title
h1, h2, h3
.distance
.km, .miles

.astronauts, .earth
.issCoords, .earthCoords
.lat, .long

#address
*/
